In [1]:
import pandas as pd
import os

In [12]:
directory = 'Football_Games_Data'
csv_files = []

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    csv_files.append(f)
# full_df = pd.concat([pd.read_csv(file) for file in csv_files])
# full_df

l = []
for file in csv_files:
    f = pd.read_csv(file)
    f.loc[:,'File Name'] = file
    l.append(f)
games_df = pd.concat(l)
games_df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,18/08/12,Arsenal,Sunderland,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,18/08/12,Fulham,Norwich,5.0,0.0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,18/08/12,Newcastle,Tottenham,2.0,1.0,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,18/08/12,QPR,Swansea,0.0,5.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,18/08/12,Reading,Stoke,1.0,1.0,D,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,Crystal Palace,Man United,1.0,0.0,H,1.0,0.0,H,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,Leicester,Southampton,4.0,1.0,H,0.0,0.0,D,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,Liverpool,Wolves,3.0,1.0,H,1.0,1.0,D,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,Man City,Aston Villa,3.0,2.0,H,0.0,1.0,A,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,Norwich,Tottenham,0.0,5.0,A,0.0,2.0,A,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [11]:
new_games_df = games_df.loc[:, ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'HS', 'AS', 'HST', 'AST',\
                                'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'File Name']]
new_games_df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR,File Name
0,18/08/12,Arsenal,Sunderland,0.0,0.0,14.0,3.0,4.0,2.0,7.0,0.0,12.0,8.0,0.0,0.0,0.0,0.0,Football_Games_Data\12-13.csv
1,18/08/12,Fulham,Norwich,5.0,0.0,11.0,4.0,9.0,2.0,6.0,3.0,12.0,11.0,0.0,0.0,0.0,0.0,Football_Games_Data\12-13.csv
2,18/08/12,Newcastle,Tottenham,2.0,1.0,6.0,12.0,4.0,6.0,3.0,5.0,12.0,8.0,2.0,2.0,0.0,0.0,Football_Games_Data\12-13.csv
3,18/08/12,QPR,Swansea,0.0,5.0,20.0,12.0,11.0,8.0,5.0,3.0,11.0,14.0,2.0,2.0,0.0,0.0,Football_Games_Data\12-13.csv
4,18/08/12,Reading,Stoke,1.0,1.0,9.0,6.0,3.0,3.0,4.0,3.0,9.0,14.0,2.0,4.0,0.0,1.0,Football_Games_Data\12-13.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,22/05/2022,Crystal Palace,Man United,1.0,0.0,6.0,10.0,3.0,4.0,3.0,6.0,12.0,22.0,2.0,4.0,0.0,0.0,Football_Games_Data\21-22.csv
376,22/05/2022,Leicester,Southampton,4.0,1.0,12.0,7.0,6.0,2.0,3.0,3.0,10.0,5.0,0.0,1.0,0.0,0.0,Football_Games_Data\21-22.csv
377,22/05/2022,Liverpool,Wolves,3.0,1.0,29.0,7.0,8.0,5.0,5.0,3.0,6.0,3.0,1.0,0.0,0.0,0.0,Football_Games_Data\21-22.csv
378,22/05/2022,Man City,Aston Villa,3.0,2.0,24.0,4.0,5.0,2.0,13.0,1.0,5.0,11.0,0.0,1.0,0.0,0.0,Football_Games_Data\21-22.csv
379,22/05/2022,Norwich,Tottenham,0.0,5.0,9.0,19.0,0.0,13.0,3.0,2.0,13.0,7.0,3.0,1.0,0.0,0.0,Football_Games_Data\21-22.csv