In [4]:
import pandas as pd
import os

In [5]:
directory = 'Football_Games_Data'
csv_files = []

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    csv_files.append(f)
full_df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)
full_df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,GBH,GBD,GBA,BSH,BSD,BSA
0,E0,16/08/14,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,16/08/14,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,16/08/14,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,16/08/14,QPR,Hull,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,16/08/14,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,E0,23/05/2021,Liverpool,Crystal Palace,2.0,0.0,H,1.0,0.0,H,...,1.98,2.14,1.88,2.00,NaN,NaN,NaN,NaN,NaN,NaN
3797,E0,23/05/2021,Man City,Everton,5.0,0.0,H,2.0,0.0,H,...,2.20,2.00,2.03,1.85,NaN,NaN,NaN,NaN,NaN,NaN
3798,E0,23/05/2021,Sheffield United,Burnley,1.0,0.0,H,1.0,0.0,H,...,2.17,1.90,2.03,1.84,NaN,NaN,NaN,NaN,NaN,NaN
3799,E0,23/05/2021,West Ham,Southampton,3.0,0.0,H,2.0,0.0,H,...,2.06,2.01,1.99,1.89,NaN,NaN,NaN,NaN,NaN,NaN
3800,E0,23/05/2021,Wolves,Man United,1.0,2.0,A,1.0,2.0,A,...,2.10,1.94,2.00,1.88,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
new_games_df = full_df.loc[:, ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'HS', 'AS', 'HST', 'AST',\
                                'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR']]
new_games_df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,16/08/14,Arsenal,Crystal Palace,2.0,1.0,14.0,4.0,6.0,2.0,9.0,3.0,13.0,19.0,2.0,2.0,0.0,1.0
1,16/08/14,Leicester,Everton,2.0,2.0,11.0,13.0,3.0,3.0,3.0,6.0,16.0,10.0,1.0,1.0,0.0,0.0
2,16/08/14,Man United,Swansea,1.0,2.0,14.0,5.0,5.0,4.0,4.0,0.0,14.0,20.0,2.0,4.0,0.0,0.0
3,16/08/14,QPR,Hull,0.0,1.0,19.0,11.0,6.0,4.0,8.0,9.0,10.0,10.0,1.0,2.0,0.0,0.0
4,16/08/14,Stoke,Aston Villa,0.0,1.0,12.0,7.0,2.0,2.0,2.0,8.0,14.0,9.0,0.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,23/05/2021,Liverpool,Crystal Palace,2.0,0.0,19.0,5.0,5.0,4.0,14.0,1.0,10.0,8.0,2.0,2.0,0.0,0.0
3797,23/05/2021,Man City,Everton,5.0,0.0,21.0,8.0,11.0,3.0,7.0,5.0,8.0,10.0,2.0,2.0,0.0,0.0
3798,23/05/2021,Sheffield United,Burnley,1.0,0.0,12.0,10.0,3.0,3.0,8.0,9.0,11.0,1.0,3.0,1.0,0.0,0.0
3799,23/05/2021,West Ham,Southampton,3.0,0.0,14.0,17.0,7.0,5.0,2.0,3.0,5.0,9.0,0.0,3.0,0.0,0.0
3800,23/05/2021,Wolves,Man United,1.0,2.0,14.0,9.0,4.0,4.0,6.0,2.0,14.0,3.0,4.0,1.0,0.0,0.0

In [8]:
renamed_df = new_games_df.rename(columns={"FTHG":"Full Time Home Team Goals", 
                                          "FTAG":"Full Time Away Team Goals",
                                         "HS":"Home Team Shots",
                                         "AS":"Away Team Shots",
                                         "HST":"Home Team Shots on Target",
                                         "AST":"Away Team Shots on Target",
                                         "HC":"Home Team Corners",
                                         "AC":"Away Team Corners",
                                         "HF":"Home Team Fouls Committed",
                                         "AF":"Away Team Fouls Committed",
                                         "HY":"Home Team Yellow Cards",
                                         "AY":"Away Team Yellow Cards",
                                         "HR":"Home Team Red Cards",
                                         "AR":"Away Team Red Cards"})
renamed_df

,Date,HomeTeam,AwayTeam,Full Time Home Team Goals,Full Time Away Team Goals,Home Team Shots,Away Team Shots,Home Team Shots on Target,Away Team Shots on Target,Home Team Corners,Away Team Corners,Home Team Fouls Committed,Away Team Fouls Committed,Home Team Yellow Cards,Away Team Yellow Cards,Home Team Red Cards,Away Team Red Cards
0,16/08/14,Arsenal,Crystal Palace,2.0,1.0,14.0,4.0,6.0,2.0,9.0,3.0,13.0,19.0,2.0,2.0,0.0,1.0
1,16/08/14,Leicester,Everton,2.0,2.0,11.0,13.0,3.0,3.0,3.0,6.0,16.0,10.0,1.0,1.0,0.0,0.0
2,16/08/14,Man United,Swansea,1.0,2.0,14.0,5.0,5.0,4.0,4.0,0.0,14.0,20.0,2.0,4.0,0.0,0.0
3,16/08/14,QPR,Hull,0.0,1.0,19.0,11.0,6.0,4.0,8.0,9.0,10.0,10.0,1.0,2.0,0.0,0.0
4,16/08/14,Stoke,Aston Villa,0.0,1.0,12.0,7.0,2.0,2.0,2.0,8.0,14.0,9.0,0.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,23/05/2021,Liverpool,Crystal Palace,2.0,0.0,19.0,5.0,5.0,4.0,14.0,1.0,10.0,8.0,2.0,2.0,0.0,0.0
3797,23/05/2021,Man City,Everton,5.0,0.0,21.0,8.0,11.0,3.0,7.0,5.0,8.0,10.0,2.0,2.0,0.0,0.0
3798,23/05/2021,Sheffield United,Burnley,1.0,0.0,12.0,10.0,3.0,3.0,8.0,9.0,11.0,1.0,3.0,1.0,0.0,0.0
3799,23/05/2021,West Ham,Southampton,3.0,0.0,14.0,17.0,7.0,5.0,2.0,3.0,5.0,9.0,0.0,3.0,0.0,0.0
3800,23/05/2021,Wolves,Man United,1.0,2.0,14.0,9.0,4.0,4.0,6.0,2.0,14.0,3.0,4.0,1.0,0.0,0.0

In [13]:
team_goals = {}

home_goals = renamed_df.groupby('HomeTeam')['Full Time Home Team Goals'].sum()
away_goals = renamed_df.groupby('AwayTeam')['Full Time Away Team Goals'].sum()

for team, goals in home_goals.iteritems():
    if team in team_goals:
        team_goals[team] += goals
    else:
        team_goals[team] = goals
        
        
for team, goals in away_goals.iteritems():
    if team in team_goals:
        team_goals[team] += goals
    else:
        team_goals[team] = goals
        
total_goals = pd.DataFrame({'Team': list(team_goals.keys()), 'Total Goals': list(team_goals.values())})

total_goals = total_goals.sort_values(by='Total Goals', ascending=False)

print(total_goals)

                Team  Total Goals
16          Man City        887.0
15         Liverpool        785.0
7            Chelsea        691.0
28         Tottenham        673.0
0            Arsenal        672.0
17        Man United        644.0
9            Everton        517.0
31          West Ham        512.0
24       Southampton        480.0
14         Leicester        466.0
8     Crystal Palace        387.0
19         Newcastle        381.0
1        Aston Villa        292.0
30         West Brom        277.0
27           Swansea        262.0
5            Burnley        258.0
29           Watford        246.0
25             Stoke        244.0
2        Bournemouth        241.0
4           Brighton        190.0
26        Sunderland        190.0
33            Wolves        172.0
20           Norwich        157.0
10            Fulham        151.0
12              Hull        108.0
13             Leeds        104.0
21               QPR         72.0
6            Cardiff         66.0
23  Sheffield United         59.0
11      Huddersfield         50.0
3          Brentford         48.0
32             Wigan         47.0
22           Reading         43.0
18     Middlesbrough         27.0

In [23]:
goals_per_team = {}

home_goals_per_team = renamed_df.groupby('HomeTeam')['Full Time Home Team Goals'].sum()
away_goals_per_team = renamed_df.groupby('AwayTeam')['Full Time Away Team Goals'].sum()

# Iterate over the home team goals and add them to the dictionary
for team, goals in home_goals_per_team.iteritems():
    if team in goals_per_team:
        goals_per_team[team]['Home Goals'] += goals
    else:
        goals_per_team[team] = {'Home Goals': goals, 'Away Goals': 0}

# Iterate over the away team goals and add them to the dictionary
for team, goals in away_goals_per_team.iteritems():
    if team in goals_per_team:
        goals_per_team[team]['Away Goals'] += goals
    else:
        goals_per_team[team] = {'Home Goals': 0, 'Away Goals': goals}

        
home_away_goals = pd.DataFrame(goals_per_team).T.reset_index()

home_away_goals.columns = ['Team', 'Home Goals', 'Away Goals']

home_away_goals = home_away_goals.sort_values(by='Home Goals', ascending=False)

print(home_away_goals)

                Team  Home Goals  Away Goals
16          Man City       508.0       379.0
15         Liverpool       424.0       361.0
0            Arsenal       385.0       287.0
7            Chelsea       374.0       317.0
28         Tottenham       355.0       318.0
17        Man United       349.0       295.0
9            Everton       308.0       209.0
31          West Ham       288.0       224.0
24       Southampton       270.0       210.0
14         Leicester       246.0       220.0
19         Newcastle       222.0       159.0
8     Crystal Palace       192.0       195.0
30         West Brom       163.0       114.0
1        Aston Villa       157.0       135.0
27           Swansea       152.0       110.0
25             Stoke       146.0        98.0
29           Watford       137.0       109.0
2        Bournemouth       136.0       105.0
5            Burnley       136.0       122.0
4           Brighton       104.0        86.0
20           Norwich        99.0        58.0
26        Sunderland        96.0        94.0
33            Wolves        96.0        76.0
10            Fulham        83.0        68.0
12              Hull        67.0        41.0
13             Leeds        47.0        57.0
6            Cardiff        41.0        25.0
23  Sheffield United        36.0        23.0
21               QPR        36.0        36.0
11      Huddersfield        26.0        24.0
32             Wigan        26.0        21.0
22           Reading        23.0        20.0
3          Brentford        22.0        26.0
18     Middlesbrough        17.0        10.0

In [24]:
shots_per_team = {}

home_shots_per_team = renamed_df.groupby('HomeTeam')['Home Team Shots'].sum()
away_shots_per_team = renamed_df.groupby('AwayTeam')['Away Team Shots'].sum()

# Iterate over the home team goals and add them to the dictionary
for team, goals in home_shots_per_team.iteritems():
    if team in shots_per_team:
        shots_per_team[team]['Home Shots'] += goals
    else:
        shots_per_team[team] = {'Home Shots': goals, 'Away Shots': 0}

# Iterate over the away team goals and add them to the dictionary
for team, goals in away_shots_per_team.iteritems():
    if team in shots_per_team:
        shots_per_team[team]['Away Shots'] += goals
    else:
        shots_per_team[team] = {'Home Shots': 0, 'Away Shots': goals}

        
home_away_goals = pd.DataFrame(goals_per_team).T.reset_index()

home_away_goals.columns = ['Team', 'Home Shots', 'Away Shots']

#home_away_goals = home_away_goals.sort_values(by='Home Goals', ascending=False)

print(home_away_goals)

                Team  Home Shots  Away Shots
0            Arsenal       385.0       287.0
1        Aston Villa       157.0       135.0
2        Bournemouth       136.0       105.0
3          Brentford        22.0        26.0
4           Brighton       104.0        86.0
5            Burnley       136.0       122.0
6            Cardiff        41.0        25.0
7            Chelsea       374.0       317.0
8     Crystal Palace       192.0       195.0
9            Everton       308.0       209.0
10            Fulham        83.0        68.0
11      Huddersfield        26.0        24.0
12              Hull        67.0        41.0
13             Leeds        47.0        57.0
14         Leicester       246.0       220.0
15         Liverpool       424.0       361.0
16          Man City       508.0       379.0
17        Man United       349.0       295.0
18     Middlesbrough        17.0        10.0
19         Newcastle       222.0       159.0
20           Norwich        99.0        58.0
21               QPR        36.0        36.0
22           Reading        23.0        20.0
23  Sheffield United        36.0        23.0
24       Southampton       270.0       210.0
25             Stoke       146.0        98.0
26        Sunderland        96.0        94.0
27           Swansea       152.0       110.0
28         Tottenham       355.0       318.0
29           Watford       137.0       109.0
30         West Brom       163.0       114.0
31          West Ham       288.0       224.0
32             Wigan        26.0        21.0
33            Wolves        96.0        76.0