In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [24]:
directory = 'Football_Games_Data'
csv_files = []

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    csv_files.append(f)
full_df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)
full_df
# path = 'Football_Games_Data/21-22.csv'
# games_df = pd.read_csv(path)
# games_df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,18/08/12,Arsenal,Sunderland,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,18/08/12,Fulham,Norwich,5.0,0.0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,18/08/12,Newcastle,Tottenham,2.0,1.0,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,18/08/12,QPR,Swansea,0.0,5.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,18/08/12,Reading,Stoke,1.0,1.0,D,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,E0,22/05/2022,Crystal Palace,Man United,1.0,0.0,H,1.0,0.0,H,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
3797,E0,22/05/2022,Leicester,Southampton,4.0,1.0,H,0.0,0.0,D,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
3798,E0,22/05/2022,Liverpool,Wolves,3.0,1.0,H,1.0,1.0,D,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
3799,E0,22/05/2022,Man City,Aston Villa,3.0,2.0,H,0.0,1.0,A,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
3800,E0,22/05/2022,Norwich,Tottenham,0.0,5.0,A,0.0,2.0,A,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [25]:
new_games_df = full_df.loc[:, ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'HS', 'AS', 'HST', 'AST',\
                                'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR']]
new_games_df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,18/08/12,Arsenal,Sunderland,0.0,0.0,14.0,3.0,4.0,2.0,7.0,0.0,12.0,8.0,0.0,0.0,0.0,0.0
1,18/08/12,Fulham,Norwich,5.0,0.0,11.0,4.0,9.0,2.0,6.0,3.0,12.0,11.0,0.0,0.0,0.0,0.0
2,18/08/12,Newcastle,Tottenham,2.0,1.0,6.0,12.0,4.0,6.0,3.0,5.0,12.0,8.0,2.0,2.0,0.0,0.0
3,18/08/12,QPR,Swansea,0.0,5.0,20.0,12.0,11.0,8.0,5.0,3.0,11.0,14.0,2.0,2.0,0.0,0.0
4,18/08/12,Reading,Stoke,1.0,1.0,9.0,6.0,3.0,3.0,4.0,3.0,9.0,14.0,2.0,4.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,22/05/2022,Crystal Palace,Man United,1.0,0.0,6.0,10.0,3.0,4.0,3.0,6.0,12.0,22.0,2.0,4.0,0.0,0.0
3797,22/05/2022,Leicester,Southampton,4.0,1.0,12.0,7.0,6.0,2.0,3.0,3.0,10.0,5.0,0.0,1.0,0.0,0.0
3798,22/05/2022,Liverpool,Wolves,3.0,1.0,29.0,7.0,8.0,5.0,5.0,3.0,6.0,3.0,1.0,0.0,0.0,0.0
3799,22/05/2022,Man City,Aston Villa,3.0,2.0,24.0,4.0,5.0,2.0,13.0,1.0,5.0,11.0,0.0,1.0,0.0,0.0
3800,22/05/2022,Norwich,Tottenham,0.0,5.0,9.0,19.0,0.0,13.0,3.0,2.0,13.0,7.0,3.0,1.0,0.0,0.0

In [26]:
new_games_df['HomeTeam'].value_counts()

Arsenal             190
Man City            190
Tottenham           190
Southampton         190
Man United          190
Chelsea             190
Everton             190
Liverpool           190
West Ham            190
Newcastle           171
Crystal Palace      171
Leicester           152
Burnley             133
West Brom           133
Aston Villa         133
Watford             114
Swansea             114
Stoke               114
Sunderland           95
Brighton             95
Norwich              95
Bournemouth          95
Fulham               76
Wolves               76
Hull                 57
Cardiff              38
QPR                  38
Sheffield United     38
Leeds                38
Huddersfield         38
Wigan                19
Middlesbrough        19
Reading              19
Brentford            19
Name: HomeTeam, dtype: int64

In [27]:
# List of top nine teams based on longevity
top_teams = ['Arsenal', 'Chelsea', 'Everton', 'Liverpool', 'Man City', 'Man United', 'Southampton', 'Tottenham', 'West Ham']

for team in top_teams:
    print(team)

Arsenal
Chelsea
Everton
Liverpool
Man City
Man United
Southampton
Tottenham
West Ham

In [28]:
# Arsenal data
arsenal_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'Arsenal']['FTHG'].sum())
arsenal_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'Arsenal']['HST'].sum())
arsenal_home_score_percent = "{0:.2f}%".format(arsenal_home_goals/arsenal_home_shtgls*100)
arsenal_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'Arsenal']['HS'].sum())
arsenal_home_shtgls_percent = "{0:.2f}%".format(arsenal_home_shtgls/arsenal_home_shots*100)
arsenal_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'Arsenal']['FTAG'].sum())
arsenal_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'Arsenal']['AST'].sum())
arsenal_away_score_percent = "{0:.2f}%".format(arsenal_away_goals/arsenal_away_shtgls*100)
arsenal_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'Arsenal']['AS'].sum())
arsenal_away_shtgls_percent = "{0:.2f}%".format(arsenal_away_shtgls/arsenal_away_shots*100)
arsenal_total_goals = arsenal_home_goals + arsenal_away_goals
arsenal_total_shtgls = arsenal_home_shtgls + arsenal_away_shtgls
arsenal_total_score_percent = "{0:.2f}%".format(arsenal_total_goals/arsenal_total_shtgls*100)
arsenal_total_shots = arsenal_home_shots + arsenal_away_shots
arsenal_total_shtgls_percent = "{0:.2f}%".format(arsenal_total_shtgls/arsenal_total_shots*100)

In [29]:
# Chelsea data
chelsea_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'Chelsea']['FTHG'].sum())
chelsea_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'Chelsea']['HST'].sum())
chelsea_home_score_percent = "{0:.2f}%".format(chelsea_home_goals/chelsea_home_shtgls*100)
chelsea_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'Chelsea']['HS'].sum())
chelsea_home_shtgls_percent = "{0:.2f}%".format(chelsea_home_shtgls/chelsea_home_shots*100)
chelsea_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'Chelsea']['FTAG'].sum())
chelsea_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'Chelsea']['AST'].sum())
chelsea_away_score_percent = "{0:.2f}%".format(chelsea_away_goals/chelsea_away_shtgls*100)
chelsea_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'Chelsea']['AS'].sum())
chelsea_away_shtgls_percent = "{0:.2f}%".format(chelsea_away_shtgls/chelsea_away_shots*100)
chelsea_total_goals = chelsea_home_goals + chelsea_away_goals
chelsea_total_shtgls = chelsea_home_shtgls + chelsea_away_shtgls
chelsea_total_score_percent = "{0:.2f}%".format(chelsea_total_goals/chelsea_total_shtgls*100)
chelsea_total_shots = chelsea_home_shots + chelsea_away_shots
chelsea_total_shtgls_percent = "{0:.2f}%".format(chelsea_total_shtgls/chelsea_total_shots*100)

In [30]:
# Everton data
everton_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'Everton']['FTHG'].sum())
everton_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'Everton']['HST'].sum())
everton_home_score_percent = "{0:.2f}%".format(everton_home_goals/everton_home_shtgls*100)
everton_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'Everton']['HS'].sum())
everton_home_shtgls_percent = "{0:.2f}%".format(everton_home_shtgls/everton_home_shots*100)
everton_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'Everton']['FTAG'].sum())
everton_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'Everton']['AST'].sum())
everton_away_score_percent = "{0:.2f}%".format(everton_away_goals/everton_away_shtgls*100)
everton_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'Everton']['AS'].sum())
everton_away_shtgls_percent = "{0:.2f}%".format(everton_away_shtgls/everton_away_shots*100)
everton_total_goals = everton_home_goals + everton_away_goals
everton_total_shtgls = everton_home_shtgls + everton_away_shtgls
everton_total_score_percent = "{0:.2f}%".format(everton_total_goals/everton_total_shtgls*100)
everton_total_shots = everton_home_shots + everton_away_shots
everton_total_shtgls_percent = "{0:.2f}%".format(everton_total_shtgls/everton_total_shots*100)

In [31]:
# Liverpool data
liverpool_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'Liverpool']['FTHG'].sum())
liverpool_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'Liverpool']['HST'].sum())
liverpool_home_score_percent = "{0:.2f}%".format(liverpool_home_goals/liverpool_home_shtgls*100)
liverpool_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'Liverpool']['HS'].sum())
liverpool_home_shtgls_percent = "{0:.2f}%".format(liverpool_home_shtgls/liverpool_home_shots*100)
liverpool_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'Liverpool']['FTAG'].sum())
liverpool_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'Liverpool']['AST'].sum())
liverpool_away_score_percent = "{0:.2f}%".format(liverpool_away_goals/liverpool_away_shtgls*100)
liverpool_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'Liverpool']['AS'].sum())
liverpool_away_shtgls_percent = "{0:.2f}%".format(liverpool_away_shtgls/liverpool_away_shots*100)
liverpool_total_goals = liverpool_home_goals + liverpool_away_goals
liverpool_total_shtgls = liverpool_home_shtgls + liverpool_away_shtgls
liverpool_total_score_percent = "{0:.2f}%".format(liverpool_total_goals/liverpool_total_shtgls*100)
liverpool_total_shots = liverpool_home_shots + liverpool_away_shots
liverpool_total_shtgls_percent = "{0:.2f}%".format(liverpool_total_shtgls/liverpool_total_shots*100)

In [32]:
# Man City data
mancity_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'Man City']['FTHG'].sum())
mancity_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'Man City']['HST'].sum())
mancity_home_score_percent = "{0:.2f}%".format(mancity_home_goals/mancity_home_shtgls*100)
mancity_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'Man City']['HS'].sum())
mancity_home_shtgls_percent = "{0:.2f}%".format(mancity_home_shtgls/mancity_home_shots*100)
mancity_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'Man City']['FTAG'].sum())
mancity_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'Man City']['AST'].sum())
mancity_away_score_percent = "{0:.2f}%".format(mancity_away_goals/mancity_away_shtgls*100)
mancity_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'Man City']['AS'].sum())
mancity_away_shtgls_percent = "{0:.2f}%".format(mancity_away_shtgls/mancity_away_shots*100)
mancity_total_goals = mancity_home_goals + mancity_away_goals
mancity_total_shtgls = mancity_home_shtgls + mancity_away_shtgls
mancity_total_score_percent = "{0:.2f}%".format(mancity_total_goals/mancity_total_shtgls*100)
mancity_total_shots = mancity_home_shots + mancity_away_shots
mancity_total_shtgls_percent = "{0:.2f}%".format(mancity_total_shtgls/mancity_total_shots*100)

In [33]:
# Man United data
manunited_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'Man United']['FTHG'].sum())
manunited_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'Man United']['HST'].sum())
manunited_home_score_percent = "{0:.2f}%".format(manunited_home_goals/manunited_home_shtgls*100)
manunited_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'Man United']['HS'].sum())
manunited_home_shtgls_percent = "{0:.2f}%".format(manunited_home_shtgls/manunited_home_shots*100)
manunited_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'Man United']['FTAG'].sum())
manunited_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'Man United']['AST'].sum())
manunited_away_score_percent = "{0:.2f}%".format(manunited_away_goals/manunited_away_shtgls*100)
manunited_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'Man United']['AS'].sum())
manunited_away_shtgls_percent = "{0:.2f}%".format(manunited_away_shtgls/manunited_away_shots*100)
manunited_total_goals = manunited_home_goals + manunited_away_goals
manunited_total_shtgls = manunited_home_shtgls + manunited_away_shtgls
manunited_total_score_percent = "{0:.2f}%".format(manunited_total_goals/manunited_total_shtgls*100)
manunited_total_shots = manunited_home_shots + manunited_away_shots
manunited_total_shtgls_percent = "{0:.2f}%".format(manunited_total_shtgls/manunited_total_shots*100)

In [34]:
# Southampton data
southampton_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'Southampton']['FTHG'].sum())
southampton_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'Southampton']['HST'].sum())
southampton_home_score_percent = "{0:.2f}%".format(southampton_home_goals/southampton_home_shtgls*100)
southampton_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'Southampton']['HS'].sum())
southampton_home_shtgls_percent = "{0:.2f}%".format(southampton_home_shtgls/southampton_home_shots*100)
southampton_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'Southampton']['FTAG'].sum())
southampton_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'Southampton']['AST'].sum())
southampton_away_score_percent = "{0:.2f}%".format(southampton_away_goals/southampton_away_shtgls*100)
southampton_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'Southampton']['AS'].sum())
southampton_away_shtgls_percent = "{0:.2f}%".format(southampton_away_shtgls/southampton_away_shots*100)
southampton_total_goals = southampton_home_goals + southampton_away_goals
southampton_total_shtgls = southampton_home_shtgls + southampton_away_shtgls
southampton_total_score_percent = "{0:.2f}%".format(southampton_total_goals/southampton_total_shtgls*100)
southampton_total_shots = southampton_home_shots + southampton_away_shots
southampton_total_shtgls_percent = "{0:.2f}%".format(southampton_total_shtgls/southampton_total_shots*100)

In [35]:
# Tottenham data
tottenham_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'Tottenham']['FTHG'].sum())
tottenham_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'Tottenham']['HST'].sum())
tottenham_home_score_percent = "{0:.2f}%".format(tottenham_home_goals/tottenham_home_shtgls*100)
tottenham_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'Tottenham']['HS'].sum())
tottenham_home_shtgls_percent = "{0:.2f}%".format(tottenham_home_shtgls/tottenham_home_shots*100)
tottenham_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'Tottenham']['FTAG'].sum())
tottenham_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'Tottenham']['AST'].sum())
tottenham_away_score_percent = "{0:.2f}%".format(tottenham_away_goals/tottenham_away_shtgls*100)
tottenham_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'Tottenham']['AS'].sum())
tottenham_away_shtgls_percent = "{0:.2f}%".format(tottenham_away_shtgls/tottenham_away_shots*100)
tottenham_total_goals = tottenham_home_goals + tottenham_away_goals
tottenham_total_shtgls = tottenham_home_shtgls + tottenham_away_shtgls
tottenham_total_score_percent = "{0:.2f}%".format(tottenham_total_goals/tottenham_total_shtgls*100)
tottenham_total_shots = tottenham_home_shots + tottenham_away_shots
tottenham_total_shtgls_percent = "{0:.2f}%".format(tottenham_total_shtgls/tottenham_total_shots*100)

In [36]:
# West Ham data
westham_home_goals = int(new_games_df[new_games_df['HomeTeam'] == 'West Ham']['FTHG'].sum())
westham_home_shtgls = int(new_games_df[new_games_df['HomeTeam'] == 'West Ham']['HST'].sum())
westham_home_score_percent = "{0:.2f}%".format(westham_home_goals/westham_home_shtgls*100)
westham_home_shots = int(new_games_df[new_games_df['HomeTeam'] == 'West Ham']['HS'].sum())
westham_home_shtgls_percent = "{0:.2f}%".format(westham_home_shtgls/westham_home_shots*100)
westham_away_goals = int(new_games_df[new_games_df['AwayTeam'] == 'West Ham']['FTAG'].sum())
westham_away_shtgls = int(new_games_df[new_games_df['AwayTeam'] == 'West Ham']['AST'].sum())
westham_away_score_percent = "{0:.2f}%".format(westham_away_goals/westham_away_shtgls*100)
westham_away_shots = int(new_games_df[new_games_df['AwayTeam'] == 'West Ham']['AS'].sum())
westham_away_shtgls_percent = "{0:.2f}%".format(westham_away_shtgls/westham_away_shots*100)
westham_total_goals = westham_home_goals + westham_away_goals
westham_total_shtgls = westham_home_shtgls + westham_away_shtgls
westham_total_score_percent = "{0:.2f}%".format(westham_total_goals/westham_total_shtgls*100)
westham_total_shots = westham_home_shots + westham_away_shots
westham_total_shtgls_percent = "{0:.2f}%".format(westham_total_shtgls/westham_total_shots*100)

In [37]:
# Home team stats
home_goals = [arsenal_home_goals, chelsea_home_goals, everton_home_goals, liverpool_home_goals, mancity_home_goals, manunited_home_goals, southampton_home_goals, tottenham_home_goals, westham_home_goals]
home_shtgls = [arsenal_home_shtgls, chelsea_home_shtgls, everton_home_shtgls, liverpool_home_shtgls, mancity_home_shtgls, manunited_home_shtgls, southampton_home_shtgls, tottenham_home_shtgls, westham_home_shtgls]
home_score_percent = [arsenal_home_score_percent, chelsea_home_score_percent, everton_home_score_percent, liverpool_home_score_percent, mancity_home_score_percent, manunited_home_score_percent, southampton_home_score_percent, tottenham_home_score_percent, westham_home_score_percent]
home_shots = [arsenal_home_shots, chelsea_home_shots, everton_home_shots, liverpool_home_shots, mancity_home_shots, manunited_home_shots, southampton_home_shots, tottenham_home_shots, westham_home_shots]
home_shtgls_percent = [arsenal_home_shtgls_percent, chelsea_home_shtgls_percent, everton_home_shtgls_percent, liverpool_home_shtgls_percent, mancity_home_shtgls_percent, manunited_home_shtgls_percent, southampton_home_shtgls_percent, tottenham_home_shtgls_percent, westham_home_shtgls_percent]

print(len(top_teams))
print(top_teams)
print(home_goals)

9
['Arsenal', 'Chelsea', 'Everton', 'Liverpool', 'Man City', 'Man United', 'Southampton', 'Tottenham', 'West Ham']
[385, 374, 308, 424, 508, 349, 270, 355, 288]

In [38]:
# Away team stats
away_goals = [arsenal_away_goals, chelsea_away_goals, everton_away_goals, liverpool_away_goals, mancity_away_goals, manunited_away_goals, southampton_away_goals, tottenham_away_goals, westham_away_goals]
away_shtgls = [arsenal_away_shtgls, chelsea_away_shtgls, everton_away_shtgls, liverpool_away_shtgls, mancity_away_shtgls, manunited_away_shtgls, southampton_away_shtgls, tottenham_away_shtgls, westham_away_shtgls]
away_score_percent = [arsenal_away_score_percent, chelsea_away_score_percent, everton_away_score_percent, liverpool_away_score_percent, mancity_away_score_percent, manunited_away_score_percent, southampton_away_score_percent, tottenham_away_score_percent, westham_away_score_percent]
away_shots = [arsenal_away_shots, chelsea_away_shots, everton_away_shots, liverpool_away_shots, mancity_away_shots, manunited_away_shots, southampton_away_shots, tottenham_away_shots, westham_away_shots]
away_shtgls_percent = [arsenal_away_shtgls_percent, chelsea_away_shtgls_percent, everton_away_shtgls_percent, liverpool_away_shtgls_percent, mancity_away_shtgls_percent, manunited_away_shtgls_percent, southampton_away_shtgls_percent, tottenham_away_shtgls_percent, westham_away_shtgls_percent]

print(len(top_teams))
print(top_teams)
print(away_goals)

9
['Arsenal', 'Chelsea', 'Everton', 'Liverpool', 'Man City', 'Man United', 'Southampton', 'Tottenham', 'West Ham']
[287, 317, 209, 361, 379, 295, 210, 318, 224]

In [39]:
# Total team stats
total_goals = [arsenal_total_goals, chelsea_total_goals, everton_total_goals, liverpool_total_goals, mancity_total_goals, manunited_total_goals, southampton_total_goals, tottenham_total_goals, westham_total_goals]
total_shtgls = [arsenal_total_shtgls, chelsea_total_shtgls, everton_total_shtgls, liverpool_total_shtgls, mancity_total_shtgls, manunited_total_shtgls, southampton_total_shtgls, tottenham_total_shtgls, westham_total_shtgls]
total_score_percent = [arsenal_total_score_percent, chelsea_total_score_percent, everton_total_score_percent, liverpool_total_score_percent, mancity_total_score_percent, manunited_total_score_percent, southampton_total_score_percent, tottenham_total_score_percent, westham_total_score_percent]
total_shots = [arsenal_total_shots, chelsea_total_shots, everton_total_shots, liverpool_total_shots, mancity_total_shots, manunited_total_shots, southampton_total_shots, tottenham_total_shots, westham_total_shots]
total_shtgls_percent = [arsenal_total_shtgls_percent, chelsea_total_shtgls_percent, everton_total_shtgls_percent, liverpool_total_shtgls_percent, mancity_total_shtgls_percent, manunited_total_shtgls_percent, southampton_total_shtgls_percent, tottenham_total_shtgls_percent, westham_total_shtgls_percent]

print(len(top_teams))
print(top_teams)
print(total_goals)

9
['Arsenal', 'Chelsea', 'Everton', 'Liverpool', 'Man City', 'Man United', 'Southampton', 'Tottenham', 'West Ham']
[672, 691, 517, 785, 887, 644, 480, 673, 512]

In [40]:
# top_teams_home_goals = int(new_games_df[new_games_df['HomeTeam'] != 'Arsenal']['FTHG'].sum())
top_teams_home_goals = sum(home_goals)
print(top_teams_home_goals)

ahg_pct = "{0:.2f}%".format(arsenal_home_goals/top_teams_home_goals*100)
chg_pct = "{0:.2f}%".format(chelsea_home_goals/top_teams_home_goals*100)
ehg_pct = "{0:.2f}%".format(everton_home_goals/top_teams_home_goals*100)
lhg_pct = "{0:.2f}%".format(liverpool_home_goals/top_teams_home_goals*100)
mchg_pct = "{0:.2f}%".format(mancity_home_goals/top_teams_home_goals*100)
muhg_pct = "{0:.2f}%".format(manunited_home_goals/top_teams_home_goals*100)
shg_pct = "{0:.2f}%".format(southampton_home_goals/top_teams_home_goals*100)
thg_pct = "{0:.2f}%".format(tottenham_home_goals/top_teams_home_goals*100)
whhg_pct = "{0:.2f}%".format(westham_home_goals/top_teams_home_goals*100)

top_teams_home_pct = [ahg_pct, chg_pct, ehg_pct, lhg_pct, mchg_pct, muhg_pct, shg_pct, thg_pct, whhg_pct]

print(top_teams)
print(top_teams_home_pct)

3261
['Arsenal', 'Chelsea', 'Everton', 'Liverpool', 'Man City', 'Man United', 'Southampton', 'Tottenham', 'West Ham']
['11.81%', '11.47%', '9.44%', '13.00%', '15.58%', '10.70%', '8.28%', '10.89%', '8.83%']

In [41]:
top_teams_away_goals = sum(away_goals)
print(top_teams_away_goals)

aag_pct = "{0:.2f}%".format(arsenal_away_goals/top_teams_away_goals*100)
cag_pct = "{0:.2f}%".format(chelsea_away_goals/top_teams_away_goals*100)
eag_pct = "{0:.2f}%".format(everton_away_goals/top_teams_away_goals*100)
lag_pct = "{0:.2f}%".format(liverpool_away_goals/top_teams_away_goals*100)
mcag_pct = "{0:.2f}%".format(mancity_away_goals/top_teams_away_goals*100)
muag_pct = "{0:.2f}%".format(manunited_away_goals/top_teams_away_goals*100)
sag_pct = "{0:.2f}%".format(southampton_away_goals/top_teams_away_goals*100)
tag_pct = "{0:.2f}%".format(tottenham_away_goals/top_teams_away_goals*100)
whag_pct = "{0:.2f}%".format(westham_away_goals/top_teams_away_goals*100)

top_teams_away_pct = [aag_pct, cag_pct, eag_pct, lag_pct, mcag_pct, muag_pct, sag_pct, tag_pct, whag_pct]

print(top_teams)
print(top_teams_away_pct)

2600
['Arsenal', 'Chelsea', 'Everton', 'Liverpool', 'Man City', 'Man United', 'Southampton', 'Tottenham', 'West Ham']
['11.04%', '12.19%', '8.04%', '13.88%', '14.58%', '11.35%', '8.08%', '12.23%', '8.62%']

In [42]:
top_teams_total_goals = sum(total_goals)
print(top_teams_total_goals)

atg_pct = "{0:.2f}%".format(arsenal_total_goals/top_teams_total_goals*100)
ctg_pct = "{0:.2f}%".format(chelsea_total_goals/top_teams_total_goals*100)
etg_pct = "{0:.2f}%".format(everton_total_goals/top_teams_total_goals*100)
ltg_pct = "{0:.2f}%".format(liverpool_total_goals/top_teams_total_goals*100)
mctg_pct = "{0:.2f}%".format(mancity_total_goals/top_teams_total_goals*100)
mutg_pct = "{0:.2f}%".format(manunited_total_goals/top_teams_total_goals*100)
stg_pct = "{0:.2f}%".format(southampton_total_goals/top_teams_total_goals*100)
ttg_pct = "{0:.2f}%".format(tottenham_total_goals/top_teams_total_goals*100)
whtg_pct = "{0:.2f}%".format(westham_total_goals/top_teams_total_goals*100)

top_teams_total_pct = [atg_pct, ctg_pct, etg_pct, ltg_pct, mctg_pct, mutg_pct, stg_pct, ttg_pct, whtg_pct]

print(top_teams)
print(top_teams_total_pct)

5861
['Arsenal', 'Chelsea', 'Everton', 'Liverpool', 'Man City', 'Man United', 'Southampton', 'Tottenham', 'West Ham']
['11.47%', '11.79%', '8.82%', '13.39%', '15.13%', '10.99%', '8.19%', '11.48%', '8.74%']

In [43]:
top_teams_df = pd.DataFrame({'Team': top_teams,
                           'Home Goals': home_goals,
                             'Home Shots on Goal': home_shtgls,
                             'Home Scoring Percent': home_score_percent,
                             'Home Shots': home_shots,
                             'Home Shots on Goal Percent': home_shtgls_percent,
                             'Home Goals Weighted Percent': top_teams_home_pct,
                            'Away Goals': away_goals,
                             'Away Shots on Goal': away_shtgls,
                             'Away Scoring Percent': away_score_percent,
                             'Away Shots': away_shots,
                           'Away Shots on Goal Percent': away_shtgls_percent,
                             'Away Goals Weighted Percent': top_teams_away_pct,
                           'Total Goals': total_goals,
                             'Total Shots on Goal': total_shtgls,
                             'Total Scoring Percent': total_score_percent,
                          'Total Shots': total_shots,
                          'Total Shots on Goal Percent': total_shtgls_percent,
                            'Total Goals Weighted Percent': top_teams_total_pct})

top_teams_df = top_teams_df.set_index('Team')
top_teams_df

,Home Goals,Home Shots on Goal,Home Scoring Percent,Home Shots,Home Shots on Goal Percent,Home Goals Weighted Percent,Away Goals,Away Shots on Goal,Away Scoring Percent,Away Shots,Away Shots on Goal Percent,Away Goals Weighted Percent,Total Goals,Total Shots on Goal,Total Scoring Percent,Total Shots,Total Shots on Goal Percent,Total Goals Weighted Percent
Team,,,,,,,,,,,,,,,,,,
Arsenal,385,1191,32.33%,3018,39.46%,11.81%,287,887,32.36%,2317,38.28%,11.04%,672,2078,32.34%,5335,38.95%,11.47%
Chelsea,374,1272,29.40%,3269,38.91%,11.47%,317,940,33.72%,2649,35.49%,12.19%,691,2212,31.24%,5918,37.38%,11.79%
Everton,308,973,31.65%,2607,37.32%,9.44%,209,815,25.64%,2151,37.89%,8.04%,517,1788,28.91%,4758,37.58%,8.82%
Liverpool,424,1340,31.64%,3524,38.02%,13.00%,361,1097,32.91%,2794,39.26%,13.88%,785,2437,32.21%,6318,38.57%,13.39%
Man City,508,1358,37.41%,3544,38.32%,15.58%,379,1144,33.13%,3054,37.46%,14.58%,887,2502,35.45%,6598,37.92%,15.13%
Man United,349,1106,31.56%,2860,38.67%,10.70%,295,927,31.82%,2316,40.03%,11.35%,644,2033,31.68%,5176,39.28%,10.99%
Southampton,270,951,28.39%,2643,35.98%,8.28%,210,822,25.55%,2270,36.21%,8.08%,480,1773,27.07%,4913,36.09%,8.19%
Tottenham,355,1202,29.53%,3080,39.03%,10.89%,318,987,32.22%,2513,39.28%,12.23%,673,2189,30.74%,5593,39.14%,11.48%
West Ham,288,881,32.69%,2475,35.60%,8.83%,224,738,30.35%,2051,35.98%,8.62%,512,1619,31.62%,4526,35.77%,8.74%

In [44]:
top_home_teams_df = pd.DataFrame({'Team': top_teams,
                           'Home Goals': home_goals,
                             'Home Shots on Goal': home_shtgls,
                             'Home Scoring Percent': home_score_percent,
                             'Home Shots': home_shots,
                             'Home Shots on Goal Percent': home_shtgls_percent,
                                 'Home Goals Weighted Percent': top_teams_home_pct})
                            
top_home_teams_df = top_home_teams_df.set_index('Team')
top_home_teams_df = top_home_teams_df.sort_values(['Home Scoring Percent'], ascending=False)
top_home_teams_df

,Home Goals,Home Shots on Goal,Home Scoring Percent,Home Shots,Home Shots on Goal Percent,Home Goals Weighted Percent
Team,,,,,,
Man City,508,1358,37.41%,3544,38.32%,15.58%
West Ham,288,881,32.69%,2475,35.60%,8.83%
Arsenal,385,1191,32.33%,3018,39.46%,11.81%
Everton,308,973,31.65%,2607,37.32%,9.44%
Liverpool,424,1340,31.64%,3524,38.02%,13.00%
Man United,349,1106,31.56%,2860,38.67%,10.70%
Tottenham,355,1202,29.53%,3080,39.03%,10.89%
Chelsea,374,1272,29.40%,3269,38.91%,11.47%
Southampton,270,951,28.39%,2643,35.98%,8.28%

In [45]:
top_away_teams_df = pd.DataFrame({'Team': top_teams,
                            'Away Goals': away_goals,
                             'Away Shots on Goal': away_shtgls,
                             'Away Scoring Percent': away_score_percent,
                             'Away Shots': away_shots,
                           'Away Shots on Goal Percent': away_shtgls_percent,
                                 'Away Goals Weighted Percent': top_teams_away_pct})

top_away_teams_df = top_away_teams_df.set_index('Team')
top_away_teams_df = top_away_teams_df.sort_values(['Away Scoring Percent'], ascending=False)
top_away_teams_df

,Away Goals,Away Shots on Goal,Away Scoring Percent,Away Shots,Away Shots on Goal Percent,Away Goals Weighted Percent
Team,,,,,,
Chelsea,317,940,33.72%,2649,35.49%,12.19%
Man City,379,1144,33.13%,3054,37.46%,14.58%
Liverpool,361,1097,32.91%,2794,39.26%,13.88%
Arsenal,287,887,32.36%,2317,38.28%,11.04%
Tottenham,318,987,32.22%,2513,39.28%,12.23%
Man United,295,927,31.82%,2316,40.03%,11.35%
West Ham,224,738,30.35%,2051,35.98%,8.62%
Everton,209,815,25.64%,2151,37.89%,8.04%
Southampton,210,822,25.55%,2270,36.21%,8.08%

In [46]:
top_total_teams_df = pd.DataFrame({'Team': top_teams,
                           'Total Goals': total_goals,
                             'Total Shots on Goal': total_shtgls,
                             'Total Scoring Percent': total_score_percent,
                          'Total Shots': total_shots,
                          'Total Shots on Goal Percent': total_shtgls_percent,
                                  'Total Goals Weighted Percent': top_teams_total_pct})

top_total_teams_df = top_total_teams_df.set_index('Team')
top_total_teams_df = top_total_teams_df.sort_values(['Total Scoring Percent'], ascending=False)
top_total_teams_df

,Total Goals,Total Shots on Goal,Total Scoring Percent,Total Shots,Total Shots on Goal Percent,Total Goals Weighted Percent
Team,,,,,,
Man City,887,2502,35.45%,6598,37.92%,15.13%
Arsenal,672,2078,32.34%,5335,38.95%,11.47%
Liverpool,785,2437,32.21%,6318,38.57%,13.39%
Man United,644,2033,31.68%,5176,39.28%,10.99%
West Ham,512,1619,31.62%,4526,35.77%,8.74%
Chelsea,691,2212,31.24%,5918,37.38%,11.79%
Tottenham,673,2189,30.74%,5593,39.14%,11.48%
Everton,517,1788,28.91%,4758,37.58%,8.82%
Southampton,480,1773,27.07%,4913,36.09%,8.19%

In [47]:
top_teams2_df = top_teams_df[['Home Goals', 'Home Scoring Percent', 'Away Goals', 'Total Goals']]
top_teams2_df = top_teams2_df.sort_values(['Home Scoring Percent'], ascending=False)
top_teams2_df

             Home Goals Home Scoring Percent  Away Goals  Total Goals
Team
Man City            508               37.41%         379          887
West Ham            288               32.69%         224          512
Arsenal             385               32.33%         287          672
Everton             308               31.65%         209          517
Liverpool           424               31.64%         361          785
Man United          349               31.56%         295          644
Tottenham           355               29.53%         318          673
Chelsea             374               29.40%         317          691
Southampton         270               28.39%         210          480

In [48]:
home_goals_wght_pct = top_teams_df[['Home Goals', 'Home Goals Weighted Percent']]
home_goals_wght_pct = home_goals_wght_pct.sort_values(['Home Goals'], ascending=False)
home_goals_wght_pct

             Home Goals Home Goals Weighted Percent
Team
Man City            508                      15.58%
Liverpool           424                      13.00%
Arsenal             385                      11.81%
Chelsea             374                      11.47%
Tottenham           355                      10.89%
Man United          349                      10.70%
Everton             308                       9.44%
West Ham            288                       8.83%
Southampton         270                       8.28%

In [49]:
away_goals_wght_pct = top_teams_df[['Away Goals', 'Away Goals Weighted Percent']]
away_goals_wght_pct = away_goals_wght_pct.sort_values(['Away Goals'], ascending=False)
away_goals_wght_pct

             Away Goals Away Goals Weighted Percent
Team
Man City            379                      14.58%
Liverpool           361                      13.88%
Tottenham           318                      12.23%
Chelsea             317                      12.19%
Man United          295                      11.35%
Arsenal             287                      11.04%
West Ham            224                       8.62%
Southampton         210                       8.08%
Everton             209                       8.04%

In [50]:
total_goals_wght_pct = top_teams_df[['Total Goals', 'Total Goals Weighted Percent']]
total_goals_wght_pct = total_goals_wght_pct.sort_values(['Total Goals'], ascending=False)
total_goals_wght_pct

             Total Goals Total Goals Weighted Percent
Team
Man City             887                       15.13%
Liverpool            785                       13.39%
Chelsea              691                       11.79%
Tottenham            673                       11.48%
Arsenal              672                       11.47%
Man United           644                       10.99%
Everton              517                        8.82%
West Ham             512                        8.74%
Southampton          480                        8.19%